body {
    background-color: #a1d683;
    margin: 0;
	  padding: 0;

  }
  main {
    margin-top: 285px;
    text-align: center;
  }
  
h1 {
    color: #025157;
    text-align: center;
  }
  
p {
    color: #343434;
    font-family: serif;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
  }
  
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    
  }
  .fixedHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }
  
li {
    display: inline;
  }
  
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }
  
.logo {
    width: 15%;
  }
  
.navbar {
    width: 70%;
    text-align: left;
    color: green;
    font-family: sans-serif;
  }
  
.actions {
    width: 15%;
    text-align:left;
    font-size: 14px;
    color: #025157;
  }
.actions a {
    color: #67b54b;
  }
.actions button {
    color: #ffffff;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 0;
    border-radius: 5px;
  }
.menuItems {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;

  }
.actions > * {
      margin-right: 10px;
      margin-left: 10px;
  }
  .cajaUno{
  display: flex;
  width: 100%;
  }
  
  .article{
    display: flex;
    flex-direction: column;
  }
  .cajaLogos{
    display: flex;
    width: 40%;
    flex-flow: column wrap;
  }
  .cajaDerecha{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
  }
  .letraDerecha{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  }
  .letraT{
    display: flex;
    color: rgb(23, 57, 121);
    font-size: 40px;
    flex-direction: column;   
  }
  .contenidoTotal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .logosl{
    display: inline-block;
  }

.botton1{
  background-color: #025157;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  padding: 10px;
  align-items: center;
}
